* {
    text-align: center;
    font-family: Geneva, Tahoma, sans-serif;
}

body {
    background-color: bisque;
}

.title {
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
}

.subtitle {
    font-size: 40px;
    padding-bottom: 100px;
    font-weight: 100;
}

ul {
    list-style: none;
}

a {
    color: green;
    font-size: 30px;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: green;
}

li {
    padding-bottom: 10px;
}